nav.navbar.navbar-light.navbar-expand-lg,#navbar-breadcrumbs {
    display: none;
}
#navbar-breadcrumbs {
    display: none!important;
}
footer.web-footer {
    display: none;
}
body[data-path="login"] #page-login, body[data-path="registro-de-empresa/new"] #page-registro-de-empresa, body[data-path="registro-de-empresa"] #page-registro-de-empresa, 
#page-registro-de-sub-cuentas{
    background: url(/fondotecsup.png);
    min-height: calc(100vh + 20px);
    min-width: 100vw;
    padding-top: 0;
    margin-top: -20px;
    overflow: hidden;
    overflow-y: auto;
}

body[data-path="login"] .page-content-wrapper,  body[data-path="registro-de-empresa/new"] .page-content-wrapper, body[data-path="registro-de-empresa"] .page-content-wrapper,
#page-registro-de-sub-cuentas .page-content-wrapper{
background: rgba(249, 250, 250 ,0.75);
min-height: calc(100vh + 20px);
overflow: hidden;
overflow-y: auto;
}
#chat-bubble{
    display: none!important;

}